body{
	background-color: #CFECFF;
	margin: 0;
	padding: 0;
}

#banner {
    height: 350px;
    background-color: #CFECFF;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 100px;

}

nav{
	font-family: sans-serif;
	font-weight: bold;
    font-style: italic;
    font-size: 25px;
	margin-top: 0;
	text-align: center;
	color: white;
}

header nav{
	background-color: #CFECFF;
	height: 300px;
	display: block;
}

li{
	text-align: center;
	display: inline;
}

a{
	text-decoration: none;
	color: white;
	list-style-type: none;
	display: inline;
}

main div{
	background-color: #E7F6FF;
	height: 600px;
	margin: 50px;
	padding: 50px;
	padding-bottom: 25px;
	padding-top: 25px; 
	border-radius: 15px;

	
}

main div h2{
	font-family: sans-serif;
	font-weight: bold;
    font-style: italic;
    font-size: 60px;
	text-align: center;
	color: black;
}

section .about, .portfolio, .contact{
	border-radius: 15px;
	padding: 15px;
}


/*ABOUT*/
.about{
	display: grid;
	position: relative;
	grid-gap: 10px;
	grid-template-areas: "about-title about-title"
						"me description"
						"me tech-interests"
						"me other-interests";
	grid-template-columns: 30% 70%;
	grid-template-rows: 20% 25% 25% 25%;
}

.about section{
	border-radius: 15px;
	padding: 15px;
}

.about h2{
	text-align: center;
	grid-area: about;
}

.about-title{
	grid-area: about-title;
}

.me{
	border: 1px solid #CFECFF;
	background-color: white;
	grid-area: me;
}

.me img{
	padding: 20px;
	max-width:90%;
    height:auto;
}

.description{
	background-color: white;
	grid-area: description;
}

.tech-interests{
	background-color: white;
	grid-area: tech-interests;
}

.other-interests{
	background-color: white;
	grid-area: other-interests;
}

.portfolio{
	display: grid;
	position: relative;
	grid-gap: 10px;
	grid-template-areas: "portfolio-title portfolio-title"
						"hci personal"
						"db seng";
	grid-template-columns: 50% 50%;
	grid-template-rows: 30% 30% 30%;
}

.portfolio section{
	border-radius: 15px;
	padding: 15px;
	text-align: center;
	font-weight: bold;
}

.portfolio-title{
	grid-area: portfolio-title;
}

.hci{
	background-color: white;
	grid-area: hci;
}

.personal{
	background-color: white;
	grid-area: personal;
}

.db{
	background-color: white;
	grid-area: db;
}

.seng{
	background-color: white;
	grid-area: seng;
}

/*CONTACT*/
.contact{
	display: grid;
	position: relative;
	grid-gap: 10px;
	grid-template-areas: "contact-title"
						"contact-links";
	grid-template-columns: 100%;
	grid-template-rows: 20% 70%;
}

.contact section{
	border-radius: 15px;
	border-padding: 15px;
}

.contact section a{
	font-color: black;
}

.contact-title{
	grid-area: contact-title;
}

.contact-links{
	background-color: white;
	grid-area: contact-links;
}


.contact a{

	color: black;
}
