body{
	background-color: #E7F6FF;
	font-family: monospace; 
}

header{
	background-color: #CFECFF;
	color: white;
	text-align: center;
	font-family: monospace;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100px;
}

/* add this back in when you fix the spacing between header and 
main to account for webpage responsiveness.
h1{
	font-size: 50px;
}
*/

a{
	text-decoration: none;
	color: white;
}

ul{
	padding: 0px;
	list-style-type: none;
}

header li{
	display: inline;

}

header li:hover{
	color: #E7F6FF;
}

main{
	margin-top: 110px;
}

main div p{
	margin: 0;
	padding: 0;
	margin-top: 0px;
	font-size: 50px;
}
