body{
	background-color: #E7F6FF;
	font-family: monospace; 
}

header{
	
	background-color: #CFECFF;
	color: white;
	font-family: monospace;
	text-align: center;
	position: fixed;
	top: 0; 
	left: 0;
	right: 0;
	height: 75px;
	width: 100%;

}

main{
	margin-top: 75px;
}

a{
	text-decoration: none;
	color: white;
}

nav ul{
	/*
	padding: 0px;
	list-style-type: none;
	*/
	display: none;
}

header li{
	display: inline;
}

header li:hover{
	color: #E7F6FF;
}

img{
	width: 100%;
}

@media only screen and (min-width: 768px){
	header{
		height: 100px;
	}

	main{
		margin-top: 100px;
	}

	nav ul{
		display: inline;
		padding: 0px;
		list-style-type: none;
	}

	img{
		height: 25%;
		width: 25%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}