body{
	background-color: #E7F6FF;
}

header{
	background-color: #CFECFF;
	color: white;
	text-align: center;
	font-family: monospace;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

ul{
	padding: 0px;
	list-style-type: none;
}

header li{
	display: inline;
}