@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.portfolioRoot {
    background: #B6A1A2;
    display: grid;
    height: 100%;
}

#shuffle.portfolioRoot {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(57, 50px);
}

#unlock.portfolioRoot {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(62, 50px);
}

#me.portfolioRoot {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(55, 50px);
}

#barkipedia.portfolioRoot {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(30, 50px);
}

#hypertrophy.portfolioRoot {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(28, 50px);
}

#portfolio.title {
    font-family: 'Abril Fatface', cursive;
    color: #303C36;
    font-size: 64px;
    grid-column: 4/7;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subRoot {
    background-color: #F4F2E8;
    
    border-radius: 10px;
    font-family: 'Playfair Display', serif;
}

#shuffle.subRoot {
    grid-column: 2/9;
    grid-row: 4/55;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(54, 50px);
}

#unlock.subRoot {
    grid-column: 2/9;
    grid-row: 4/60;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(55, 50px);
}

#me.subRoot {
    grid-column: 2/9;
    grid-row: 4/53;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(52, 50px);
}

#barkipedia.subRoot {
    grid-column: 2/9;
    grid-row: 4/28;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(27, 50px);
}

#hypertrophy.subRoot {
    grid-column: 2/9;
    grid-row: 4/28;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(25, 50px);
}

.navigation {
    grid-row: 1/2;
    grid-column: 7/-1;
    display: flex;
    align-self: flex-end;
}

.subRootTitle {
    font-size: 36px;
    font-family: 'Abril Fatface', cursive;
    color: "#303C36";
    text-align: center;
    grid-row: 2/3;
    grid-column: 2/7;
    color: #5F7399;
}

.descriptionTitle {
    grid-row: 4/5;
    grid-column: 2/7;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    color: #5F7399;
    font-size: 24px;
}

.descriptionContent {
    grid-row: 5/6;
    grid-column: 2/7;
}

#shuffle.descriptionContent {
    grid-row: 5/7;
}

#unlock.descriptionContent {
    grid-row: 5/9;
}

.conceptTitle {
    grid-row: 7/8;
    grid-column: 2/7;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    color: #5F7399;
    font-size: 24px;
}

#shuffle.conceptTitle {
    grid-row: 8/9
}

#unlock.conceptTitle {
    grid-row: 10/11
}

#shuffle.conceptDescription {
    grid-row: 9/10;
    grid-column: 2/7;
}

#unlock.conceptDescription {
    grid-row: 11/12;
    grid-column: 2/7;
}

.conceptGallery {
    grid-row: 8/20;
    grid-column: 2/7;
}

#shuffle.conceptGallery {
    grid-row: 10/22;
}

#unlock.conceptGallery {
    grid-row: 12/24;
}

.refinedTitle {
    grid-row: 21/22;
    grid-column: 2/7;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    color: #5F7399;
    font-size: 24px;
}

#shuffle.refinedTitle {
    grid-row: 23/24;
}

#unlock.refinedTitle {
    grid-row: 25/26;
}

#shuffle.refinedDescription {
    grid-row: 24/25;
    grid-column: 2/7;
}

#unlock.refinedDescription {
    grid-row: 26/28;
    grid-column: 2/7;
}

.refinedGallery {
    grid-row: 22/34;
    grid-column: 2/7;
} 

#shuffle.refinedGallery {
    grid-row: 25/37;
}

#unlock.refinedGallery {
    grid-row: 28/40;
}

.videoTitle {
    grid-row: 35/36;
    grid-column: 2/7;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    color: #5F7399;
    font-size: 24px;
}

#shuffle.videoTitle {
    grid-row: 38/39;
}

#unlock.videoTitle {
    grid-row: 41/42;
}

.video {
    grid-row: 36/43;
    grid-column: 2/7;
    display: flex;
    justify-content: center;
    align-items: center;
}

#shuffle.video {
    grid-row: 39/46;
}

#unlock.video {
    grid-row: 42/49;
}

.extras {
    grid-column: 2/7;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    color: #5F7399;
    font-size: 24px;
    display: flex;
    justify-content: space-evenly;
}

#shuffle.extras {
    grid-row: 47/48;
}

#unlock.extras {
    grid-row: 50/51;
}

#me.extras {
    grid-row: 44/45;
}

#barkipedia.extras {
    grid-row: 22/24;
}

#hypertrophy.extras {
    grid-row: 21/23
}

.extrasContent {
    grid-row: 51/52;
    grid-column: 2/7;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    color: #80ACA1;
    font-size: 16px;
}

a.unlockLink:hover {
    color: #D4F099;
}

.myContributionsTitle {
    grid-row: 46/47;
    grid-column: 2/7;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    color: #5F7399;
    font-size: 24px;
}

#shuffle.myContributionsTitle {
    grid-row: 49/50;
}

#unlock.myContributionsTitle {
    grid-row: 53/54;
}

.myContributions {
    grid-row: 47/49;
    grid-column: 2/7;
}

#shuffle.myContributions {
    grid-row: 50/52;
}

#unlock.myContributions {
    grid-row: 54/55;
}

.stepsTitle, .landingPageTitle{
    grid-row: 7/8;
    grid-column: 2/7;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    color: #5F7399;
    font-size: 24px;
}

.stepsContent {
    grid-row: 8/10;
    grid-column: 2/7;
}

.prototypeTitle {
    grid-row: 10/11;
    grid-column: 2/7;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    color: #5F7399;
    font-size: 24px;
}

.prototypeGallery {
    grid-row: 11/21;
    grid-column: 2/7;
}

.landingPageGallery {
    grid-row: 8/20;
    grid-column: 2/7;
}
