@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

#portfolio.root {
    background: #B6A1A2;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(55, 50px);
    height: 100%;
}

#portfolio.title {
    font-family: 'Abril Fatface', cursive;
    color: #303C36;
    font-size: 64px;
    grid-column: 4/7;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hci {
    background-color: #F4F2E8;
    grid-column: 2/9;
    grid-row: 4/53;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(52, 50px);
    border-radius: 10px;
    font-family: 'Playfair Display', serif;
}

.navigation {
    grid-row: 1/2;
    grid-column: 7/-1;
    display: flex;
    align-self: flex-end;
}

.hciTitle {
    font-size: 36px;
    font-family: 'Abril Fatface', cursive;
    color: "#303C36";
    text-align: center;
    grid-row: 2/3;
    grid-column: 2/7;
    color: #5F7399;
}

.descriptionTitle {
    grid-row: 4/5;
    grid-column: 2/7;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    color: #5F7399;
    font-size: 24px;
}

.descriptionContent {
    grid-row: 5/6;
    grid-column: 2/7;
}

.conceptTitle {
    grid-row: 7/8;
    grid-column: 2/7;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    color: #5F7399;
    font-size: 24px;
}

.conceptGallery {
    grid-row: 8/20;
    grid-column: 2/7;
}

.refinedTitle {
    grid-row: 21/22;
    grid-column: 2/7;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    color: #5F7399;
    font-size: 24px;
}

.refinedGallery {
    grid-row: 22/34;
    grid-column: 2/7;
} 

.videoTitle {
    grid-row: 35/36;
    grid-column: 2/7;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    color: #5F7399;
    font-size: 24px;
}

.video {
    grid-row: 36/43;
    grid-column: 2/7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.extras {
    grid-row: 44/45;
    grid-column: 2/7;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    color: #5F7399;
    font-size: 24px;
    display: flex;
    justify-content: space-evenly;
}

.myContributionsTitle {
    grid-row: 46/47;
    grid-column: 2/7;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    color: #5F7399;
    font-size: 24px;
}

.myContributions {
    grid-row: 47/49;
    grid-column: 2/7;
}