@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

#home.root {
    background: #E7D1B7;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

#home.title {
    grid-row: 3/5;
    grid-column: 3/5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img {
    width: 356px;
    height: 475px;
    border: solid #F4F2E8;
    border-width: 10px;
    border-radius: 50%;
}

.image {
    grid-column: 3/5;
    grid-row: 4/10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about {
    grid-row: 5/8;
    grid-column: 6/8;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    color: #594734;
}

.links {
    grid-row: 8/9;
    grid-column: 6/8;
    display: flex;
    align-items: top;
    justify-content: space-evenly;
}

.linksLabels {
    
}

.menu {
    grid-row: 4/5;
    grid-column: 7/8;
    display: flex;
    justify-content: flex-end;
}   